<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Repositories>
    <Repository id="rep5">
      <IsReference>false</IsReference>
      <File>/Users/maxcampbell/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_5.mrep</File>
      <Url>https://addins.monodevelop.com/Stable/Mac/8.10.6/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>Visual Studio Extension Repository</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep6">
      <IsReference>false</IsReference>
      <File>/Users/maxcampbell/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_6.mrep</File>
      <Url>https://addins.monodevelop.com/Beta/Mac/8.10.6/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>Visual Studio Extension Repository (Beta channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep7">
      <IsReference>false</IsReference>
      <File>/Users/maxcampbell/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_7.mrep</File>
      <Url>https://addins.monodevelop.com/Alpha/Mac/8.10.6/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>Visual Studio Extension Repository (Alpha channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
      <Enabled>false</Enabled>
    </Repository>
    <Repository id="rep8">
      <IsReference>true</IsReference>
      <File>/Users/maxcampbell/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_8.mrep</File>
      <Url>https://addins.monodevelop.com/Stable/Mac/8.10.6/root.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>addins.monodevelop.com</Name>
      <LastModified>2021-08-05T06:03:23.161948Z</LastModified>
    </Repository>
    <Repository id="rep9">
      <IsReference>true</IsReference>
      <File>/Users/maxcampbell/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_9.mrep</File>
      <Url>https://addins.monodevelop.com/Beta/Mac/8.10.6/root.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>addins.monodevelop.com</Name>
      <LastModified>2021-06-28T11:34:34.842398Z</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>10</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>